# Johnny yuidoc

snippet yui_module
	/**
	* ${2:Description}
	*
	* @module ${1}
	*/
endsnippet

snippet yui_main
	/**
	 * Provides more features for the widget module...
	 *
	 * @module ${2:main}
	 * @submodule ${3:submodule}
	 * @main ${1:main}
	 */
endsnippet

