[Desktop Entry]
Encoding=UTF-8
Exec=gimp
Icon=gimp
Type=Application
Terminal=false
Comment=Graphic editor images
Name=Gimp
GenericName=Gimp 2.10
StartupNotify=true
Categories=Graphics;Utility;
