[Desktop Entry]
Type=Application
Name=Lite XL Editor
Comment=Lightweight text editor
TryExec=<EXEC_LOCATION>
Exec=<EXEC_LOCATION> %F
Icon=<ICON_LOCATION>
Categories=Utility;TextEditor;
MimeType=text/plain;text/x-verilog;text/x-svsrc;text/x-svhdr;text/x-makefile;text/markdown;application/json;text/x-pcf;
Terminal=false
Keywords=editor;Verilog;SystemVerilog;FPGA;code;
