site_name: Manual de usuario GNU/Linux
site_dir: build
markdown_extensions:
  - admonition #https://squidfunk.github.io/mkdocs-material/extensions/admonition/
  - attr_list

# use_directory_urls: false
plugins:
  - search
#  - pdf-export:
#      combined: true

theme:
  name: 'mkdocs' # 'mkdocs' 'material'
  highlightjs: true # true/false false para prueba sin internet
  hljs_languages:
    - javascript
    - python
    - lua
    # - c
    # - c++
    - bash


extra_css: [extra.css] # Active this (uncomment) if you have external css in docs/extra.css

nav:
  - Home: index.md
  - Desarrollo:
    - Markdown: 
      - index: dev/markdown/index.md
      - html: dev/markdown/html.md
    - Python: 
      - dev/python/docs.md
      - dev/python/install.md
    - Flutter:
      - configuraci칩n: dev/flutter/init.md
    - Vim:
      - index: vim/index.md
      - markdown: vim/markdown.md
      - vifm: vim/vifm.md
      - neovim: vim/neovim.md
    - git: git/git.md
    - nodejs:
      - Instalaci칩n: dev/nodejs/install.md
    - conda:
      - activar-conda: dev/conda/conda-activate.md
  - Debian:
    - packages: debian/package.md
    - tools:
      - parches: debian/tools/patches.md
      - dmesg: debian/tools/dmesg.md
      - network_Tools: debian/tools/networkTools.md
      - createi_image: debian/tools/copyAndPasteImage.md
      - Miscel치neos: debian/tools/miscellaneous.md
  - Aplicaciones:
    - Compiladores de texto:
      - LaTex:
        - apps/latex/latex.md
        - apps/latex/symbols.md
      - Mkdocs: 
        - introducci칩n: apps/mkdocs/index.md
        - iconos: apps/mkdocs/icons.md
    - Presentaciones:
      - Sozi: apps/sozi.md
      - Revealjs: apps/revealjs.md
    - Graphics:
      - Inkscape: apps/inkscape.md
      - Drawio: apps/drawio.md
  - Juegos:
    - AssaultCube: games/assaultCube.md
    - ReatroArch: games/retroarch.md


